<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victor.myreminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.victor.myreminder.activity.MainActivity"
            android:label="MyReminder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.victor.myreminder.activity.CreateNewActivity"
            android:parentActivityName="com.victor.myreminder.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.victor.myreminder.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.victor.myreminder.activity.PieChartActivity"
            android:parentActivityName="com.victor.myreminder.activity.MainActivity" />
        <activity
            android:name="com.victor.myreminder.activity.BarChartActivity"
            android:parentActivityName="com.victor.myreminder.activity.MainActivity" />
        <activity android:name="com.victor.myreminder.activity.AlarmActivity"></activity>

        <receiver
            android:name="com.victor.myreminder.broadcast.AlarmReceiver"
            android:enabled="true" />
        <receiver android:name="com.victor.myreminder.activity.MainActivity$DeleteReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="REFRESH"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.victor.myreminder.service.AlarmService"
            android:enabled="true" />
    </application>

</manifest>